<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="fb5ee26d-4004-480b-a057-24b782248089" Publisher="CN=luhumenh" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="fb5ee26d-4004-480b-a057-24b782248089" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>EAgoraNewNavPane</DisplayName>
    <PublisherDisplayName>luhumenh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EAgoraNewNavPane.App">
      <uap:VisualElements DisplayName="Vou me formar, e agora?" Square150x150Logo="Assets\Images\Fig 6 - Logo_Black.png" Square44x44Logo="Assets\Images\Fig 6 - Logo_Black.png" Description="EAgoraNewNavPane" BackgroundColor="white">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Images\Fig 6 - Logo_Black.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Images\Fig 10 - Logo+Nome_Black.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>